.statisticsPage {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.statisticsPage .titleAndChart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleAndChart .title {
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  color: rgba(251, 251, 251, 1);
}

.statisticsPage .dashboardAndTable {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .statisticsPage {
    flex-direction: row;
    margin-top: 20px;
  }

  .statisticsPage .titleAndChart {
    gap: 20px;
    align-self: flex-start;
  }

  .statisticsPage .dashboardAndTable {
    flex: 1;
    align-self: flex-start;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .statisticsPage {
    display: inline-flex;
    /* margin-top: 32px; */
    margin-left: 50px;
    margin-top: 0;
  }

  .statisticsPage .dashboardAndTable {
    margin-top: 65px;
  }
}
