.modalFooter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;

  z-index: 150;

  /* transform: scale(0);
    opacity: 0;
    transition: all 0.35s ease-in-out; */
  cursor: default;
  transition: all 0.35s ease-in-out;
}

.modalFooter.isOpen {
  opacity: 1;
  transform: scale(1);
  transition: all 0.35s ease-in-out;
}

.modalBg {
  /* background-color: #ffffff1a; */

  background: linear-gradient(
    0deg,
    rgba(83, 61, 186, 1) 0%,
    rgba(80, 48, 154, 1) 43.14%,
    rgba(106, 70, 165, 1) 73.27%,
    rgba(133, 93, 175, 1) 120.03%
  );

  box-shadow: 0px 4px 60px 0px #00000040;
  backdrop-filter: blur(50px);
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  width: 333px;
  padding-left: 15px;
  padding-right: 15px;
}

.footerCards {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.footerTeamCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footerTeamCard.marius {
  animation-delay: 0.5s;
}

.footerTeamCard.dan {
  animation-delay: 1.5s;
}

.footerTeamCard.rares {
  animation-delay: 2.5s;
}

.footerTeamCard.cristina {
  animation-delay: 3.5s;
}

.footerTeamCard.robert {
  animation-delay: 4.5s;
}

.footerTeamCard.lidia {
  animation-delay: 5.5s;
}

.footerTeamCard em {
  text-align: center;
}

.teamMemberImage {
  width: 60px;
  height: auto;

  border-radius: 100%;
}

.footerMemberInfo {
  display: flex;
  align-items: center;
}

.footerTeamName {
  margin-left: 15px;

  text-align: center;
}

.footerGithubIcon,
.footerLinkedinIcon {
  margin-left: 8px;
  color: white;
  transition: all 0.3s ease 0s;
}

.footerGithubIcon:hover,
.footerLinkedinIcon:hover {
  color: #ff868d;
}

.footerGithubIcon:active,
.footerLinkedinIcon:active {
  color: #ff868d;
}

.footerTeamCard {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .footerTeamCard {
    display: grid;
    grid-template-columns: 60px 170px 180px 50px;

    align-items: center;
  }

  .footerTeamCard em {
    text-align: left;
  }

  .modalContent {
    width: 100%;
  }

  .footerTeamName {
    margin-left: 30px;
    text-align: left;
  }

  .modalFooter {
    /* background-color: hsla(256, 75%, 20%, 0.4); */
    background-color: #220d5b3b;

    backdrop-filter: blur(3px);

    min-width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalBg {
    width: 533px;
    height: auto;
    border-radius: 8px;
    padding: 20px;
    /* background: linear-gradient(270.02deg, #2e1746 3.2%, #2e225f 99.98%); */

    background: linear-gradient(
      0deg,
      rgba(83, 61, 186, 0.7) 0%,
      rgba(80, 48, 154, 0.7) 43.14%,
      rgba(106, 70, 165, 0.525) 73.27%,
      rgba(133, 93, 175, 0.133) 120.03%
    );

    background: linear-gradient(
      0deg,
      rgba(83, 61, 186, 1) 0%,
      rgba(80, 48, 154, 1) 43.14%,
      rgba(106, 70, 165, 1) 73.27%,
      rgba(133, 93, 175, 1) 120.03%
    );

    background: rgba(82, 59, 126, 1);
  }
}
