input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line {
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.6) !important;
}
input:-moz-autofill,
textarea:-moz-autofill {
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

input:-ms-autofill,
textarea:-ms-autofill {
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.modalContent {
  position: relative;
}

.modalContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Ascunde săgețile de incrementare/decrementare din câmpul număr */
.inputField input[type="number"]::-webkit-inner-spin-button,
.inputField input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form .formTitle {
  color: rgba(251, 251, 251, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

form .inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inputWrapper .inputField input,
.inputWrapper .inputField select {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  padding: 0 20px 8px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.35s ease-in-out;
  position: relative;
  color: #ffffff99;
}

.inputWrapper .inputField select {
  cursor: pointer;
  color: #ffffff99;
}

.inputWrapper .inputField select option {
  cursor: pointer;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(83, 61, 186, 0.7);
  /* background-color: rgba(80, 48, 154, 0.7); */
  /* background-color: rgba(106, 70, 165, 0.52); */
  /* background-color: rgba(133, 93, 175, 0.13); */
  color: rgba(251, 251, 251, 1);
}

.inputField input:focus,
.inputField select:focus {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  transition: all 0.35s ease-in-out;
}

.inputField input::placeholder {
  color: #ffffff99;
  transition: all 0.35s ease-in-out;
}

.inputField input:focus::placeholder {
  color: #ffffff;
  transition: all 0.35s ease-in-out;
}

.inputField p {
  color: rgb(255, 134, 141);
  font-size: 14px;
  padding-left: 12px;
  /* padding-left: 20px; */
}

.inputField.date {
  position: relative;
}

.inputField.date input {
  cursor: pointer;
  width: 100%;
  color: #ffffff99;
  transition: all 0.5s ease 0s;
}

.inputField.date input:focus {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}

.icon {
  position: absolute;
  top: 0;
  right: 17px;
  color: #734aef;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

form .buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.switcheWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.switcheWrapper span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

/* .switcheWrapper span:first-child {
  margin-right: -20px;
} */

.switcheWrapper span.income {
  color: rgba(255, 182, 39, 1);
  font-weight: bold;
}

.switcheWrapper span.expense {
  color: rgba(255, 134, 141, 1);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .modalContent {
    width: 540px;
    height: 589px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 40px 73px;
  }

  .modalContent .closeButton {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .modalContent .closeButton:hover {
    transform: scale(1.1);
    background-color: rgba(251, 251, 251, 1);
    transition: all 0.5s ease 0s;
  }

  .modalContent .closeButton svg {
    width: 16px;
    height: 16px;
    stroke: rgba(251, 251, 251, 1);
  }

  .closeButton:hover > svg {
    stroke: red;
  }

  form .formTitle {
    font-size: 30px;
    line-height: 45px;
  }

  form .inputWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 40px;
  }

  .inputField.category {
    width: 100%;
  }

  .inputField.amount {
    flex: 1;
  }

  .inputField.date {
    flex: 1;
  }

  .icon {
    right: 8px;
  }

  .inputField.comment {
    width: 100%;
  }
}
